#exampleInputEmail1,#exampleInputPassword1{
 width:300px;
}
.card{
    margin-top: 80px;
    margin-left: 400px;
    width:450px;
    padding-left: 40px;
}
span{
    color:red;
    font-size: 10pt;
}

p{
    text-decoration: none;
    color: black;
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

